[main]
enabled=1
debug=1
readaloud=1
trygoogle=0
tryivona=1
head=wget -q -U Mozilla 
tail=.mp3 
end=Now its time to wake up, Luke.  Have a fantastic day at school!  
light=1
lightdelay=1
music=1
musicfldr=/home/pi/alarmpi/Music/music.mp3
alarmtoggle=1
alarmfldr=/home/pi/alarmpi/Music/alarm.mp3
ivona_accesskey=GDNAJW3FDVSMQKUCCFKQ
ivona_secretkey=RoXbQ1VnTPU/dvmzhSwx43mjnXhBzlEeMc2qoNcu
ivona_voice=Brian
ivona_speed=medium

[greeting]
enabled=1
name=Master Luke!

[weather_yahoo]
enabled=1
location=2459115
metric=0
# Change units to Imperial by changing metric=0
wind=1
# wind is available only with metric
wind_chill=0
# default set from November - March

[mtasubway]
enabled=0

[news]
enabled=1


